[submodule "subnet-math"]
	path = subnet-math
	url = https://vsmelov@github.com/vsmelov/xsubnet-template.git
[submodule "subnet-vla"]
	path = subnet-vla
	url = https://vsmelov@github.com/vsmelov/xsubnet-template.git
	branch = master-vla
